@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;700&display=swap');

body {
  background: linear-gradient(to right, #90CDF4, #EBF8FF);
  font-family: 'Poppins', sans-serif;
}

.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.heading h1 {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
  position: relative;
  font-family: 'Playfair Display', serif;
}

.heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 10px auto;
  background-color: orange;
}

.heading p {
  font-size: 18px;
  color: black;
  margin-bottom: 35px;
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.word-cloud img {
  max-width: 100%;
  width: 1000px;
  height: auto;
  border: none; /* Remove the border */
}

.goal p {
  font-size: 40px;
  font-weight: 100;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
  margin-bottom: 30px;
}

.about-content {
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.about-content h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: black;
  text-align: center;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #667;
  margin-bottom: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 0;
  height: auto;
  width: 100%;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: black;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
}

.button-link:hover {
  background-color: #0056b3;
}

.meditate {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.meditate h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

.meditate p {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.checkbox-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkbox-form label {
  font-size: 20px;
  color: #333;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.checkbox-form label:hover {
  background-color: #e0e0e0;
}

.checkbox-form input[type="checkbox"] {
  margin-right: 15px;
  transform: scale(1.5);
}

.contact-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 766px) {
  .heading {
    padding: 0px 20px;
  }

  .heading h1 {
    font-size: 36px;
  }

  .heading p {
    font-size: 17px;
    margin-bottom: 0px;
  }

  .container {
    padding: 0px;
  }

  .about {
    padding: 20px;
    flex-direction: column;
  }

  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .about-content p {
    padding: 0px;
    font-size: 16px;
  }

  .about-content .read-more {
    font-size: 16px;
  }

  .checkbox-form {
    padding: 15px;
  }

  .checkbox-form label {
    font-size: 18px;
  }
}
