.form {
    width: 50%; /* Full width to match parent container */
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd; /* Add border to separate from background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Space between button and form */
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttongroup {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
}

.form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
}