body {
    margin: 0;
    padding: 0;
  }
  
  .Posts {
    position: relative;
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  